# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Dirs
.idea
/ithaca/data/iphi.json
/ithaca/data/iphi-region-main.txt
/ithaca/data/iphi-region-sub.txt
/ithaca/data/iphi-wordlist.txt
/ithaca/data/iphi-json/
